.logo {
    @include font(26px, 700, 30.52px, 0.03em);
    font-family: $logo-font;
    color: $accent-color;

}

.header__logo {
    margin-right: 93px;
}

.logo-dark {
    color: $logo-color-dark;
}

.logo-light {
    color: $logo-color-light;
}